body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

.container {
    display: flex;
    justify-content: center;
}

.box {
    border: 1px solid black;
}

.box-group {
    border: 5px black solid;
    border-radius: 10px;
    display: flex;
    width: 400px;
    height: 400px;
    flex-wrap: wrap;
}

.button-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
}

button:hover,
.button-active {
    background-color: black;
    color: white;
    cursor: pointer;
}

/* colorful background-color */
#colorfulButton:hover,
.colorful-button-active {
    background-color: blueviolet;
    background: linear-gradient(238deg, #fd8800, #fd008f, #9700fd, #003dfd, #05c7e6, #4bd58d);
    -webkit-animation: rainbow 5s ease infinite;
    background-size: 1200% 1200%;
    animation: rainbow 5s ease infinite;
}

h1 {
    background-image: linear-gradient(238deg, #fd8800, #fd008f, #9700fd, #003dfd, #05c7e6, #4bd58d);
    -webkit-background-clip: text;
    
    background-clip: text;
    color: transparent;
    animation: rainbow 5s linear infinite;
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}