.container {
    display: flex;
}

.box {
    border: 1px solid black;
}

.box-group {
    display: flex;
    width: 400px;
    height: 400px;
    flex-wrap: wrap;
}

.button-group {
    margin-top: 20px;
}

#clearButton {
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
}

#clearButton:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}